{% extends "backend/index.html" %}

{% load static %}
{% block content %}
    <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Our
            References</h1>
        <p class="text-size-20 text-white text-center center text-uppercase">Our References Gallery is a testament to
            our journey and the milestones we've achieved. Browse through our collection and see how we turn ideas into
            reality!</p>
    </div>

    <section class="grid margin">
        {% for gallery in galleries %}
            <img class="s-12 m-6 margin-bottom responsive-image" src="{{ gallery.image.url }}"
                 alt="{{ gallery.title }}"/>
        {% empty %}
            {#            <p class="text-size-20 text-white text-center" style="text-align: center">No images available in the gallery.</p>#}
        {% endfor %}
    </section>
    <script>
        // Prevent right-click on all images
        document.querySelectorAll('.responsive-image').forEach(img => {
            img.addEventListener('contextmenu', function (e) {
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
